////////////////////////////////////////////////
// Theme
////////////////////////////////////////////////

body{
    background-color: #1b1b1b;
    color: #fafafa;
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 400;
    margin: 0;
}
.icon{
    font-size: 35px;
    font-style: normal;
    font-family: "Icons";
    color: #fafafa;
}