.bloc-evenements {
    display: grid;
    grid-gap: 2rem;    
    @media (min-width: 768px){
        grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 1200px){
        grid-template-columns: repeat(3,1fr);
        
    }
        
}
.evenements .btn{

}

 
