.section-hero {
    position: relative;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        font-weight: 800;
        text-transform: uppercase;
        font-size:96px;
    }
    #carouselExampleControls, .carousel-item {
        height: 100vh;
    }
}


