/*header*/
header{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    min-height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    a{
        color:#fafafa;
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
    .logo-site img{
        max-height: 56px;
    }
}
header .icon-burger{
    display: none;
}
header .menu-burger{
    display: none;
}
