.btn{
    font-weight: 500;
    transition: all .3s;
    border-radius: 3px;
    line-height: 25px;
    vertical-align: baseline;
    &.btn1{
        background-color: #fafafa;
        color: #121212;
        &:hover{
            background-color: #83D228;
            color: #121212;
        }
    }
}